DATABASE_URL="postgresql://docker:docker@localhost:5432/findAFriend?schema=public"
NODE_ENV="development"
JWT_SECRET="your-jwt-secret"
port=3333
ADMIN_EMAIL="admin@findafriend.com"
ADMIN_PASSWORD="change-me"
